<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="mail.css">
</head>
<body>
<section class="mail-content">
  <div class="mail-box">
    <div class="mail-box-header">
      <h3 class="mail-box-title">Mundial App - Nowe konto</h3>
    </div>
    <div class="mail-box-body">
      <p>Witaj <b><%= @user.name %></b>!</p>
      <p>
        Właśnie zostało wygenerowane dla Ciebie konto w serwisie Mundial App.
        <br>
        Aby ustawić własne hasło należy wybrać <%= link_to 'ten link', edit_user_password_url(@user, reset_password_token: @token) %>. Jest on aktywny przez 6 godzin od wysłania maila.
        <br>
        Po upłynięciu tego czasu, aby ustawić hasło, należy wygenerować nowy mail z tokenem klikając <%= link_to 'tu',new_user_password_url %>
        <br>
      </p>
      <p>
        <small>
          Jeśli to nie chcesz posiadać konta na serwisie Mundial App, zignoruj tę wiadomość. Wygenerowane tymczasowe hasło jest losowe - nikt nie zaloguje się na to konto.
        </small>
      </p>
    </div>
  </div>
</section>
</body>
</html>