<div class="box-body">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Mistrz</th>
        <td><%= @user.top_team.print %></td>
      </tr>
      <tr>
        <th>Król strzelców</th>
        <td><%= @user.top_player.name %></td>
      </tr>
    </tbody>
  </table>
</div>