.main-header{
  .logo-lg{
    img{
      height: 40px;
    }
  }
}

html, body {
  height: 100vh;
}

body {
  background-color: #222d32
}

//footer overrides
.main-footer{
  padding: 5px 15px 5px 10px;
  font-size: 12px;
  min-height: 41px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}
//footer overrides - end

//header overrides
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
  .btn{
    margin-bottom: 0;
    width: 100px;
  }
}
//header overrides - end

.padding-15{
  padding-top: 15px;
}

div.text-center{
  th{
    text-align: center !important;
  }
  .box-body{
    table{
      tbody{
        tr{
          th{
            text-align: center !important;
          }
        }
      }
    }
  }
}

.select2-container{
  width: 100% !important;
  span.select2-selection{
    height: 34px;
  }
}

.alert{
  margin: 15px;
}

.login-box{
  .alert{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
