<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="mail.css">
</head>
<body>
  <section class="mail-content">
    <div class="mail-box">
      <div class="mail-box-header">
        <h3 class="mail-box-title">Mundial App - Prośba o zmianę hasła</h3>
      </div>
      <div class="mail-box-body">
        <p>Witaj <b><%= @resource.name %></b>!</p>
        <p>
          Serwer odebrał prośbę o zmianę hasła na twoim koncie w serwisie Mundial App.
          <br>
          Możesz to zrobić klikając na <%= link_to 'ten link', edit_user_password_url(@resource, reset_password_token: @token) %>
        </p>
        <p>
          <small>
            Jeśli to nie Ty prosiłeś o ten link, zignoruj tę wiadomość. Hasło pozostanie niezmienione.
          </small>
        </p>
      </div>

      <div class="mail-box-footer">
        z poważaniem: Wojciech Mikusek
      </div>
    </div>
  </section>
</body>
</html>
