<header class="main-header">
  <%= link_to root_path, class:'logo', data: { turbolinks: false } do %>
      <span class="logo-mini"><b>Typer</b></span>
      <span class="logo-lg"><%=image_tag("football.png")%><b>Mundial Typer</b></span>
  <% end %>

  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
        </li>
      </ul>
    </div>
  </nav>
</header>